.inputBox {
  width: 100%;
  margin-bottom: 50px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  background-color: #f3f4f6;

  .inputBox-textarea {
    border: none !important;
    outline: none !important;
    box-shadow: none !important; // 确保不会有阴影边框
    background-color: #f3f4f6;

    &:focus {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .toolBar {
    display: flex;
    justify-content: space-between; // 左右对齐

    .toolBar-right {
      .button {
        margin-right: 10px;
        border: none;
        color: #000;

        &:hover {
          background-color: #d9e6ff;
        }
      }
    }
  }
}