.chat-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chat-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 650px;

  .chat-welcome-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
<<<<<<< HEAD

  .chat-welcome-content {
    color: #656565;
  }
}

.inline-dialog {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
=======
}
>>>>>>> 823abddec4e545f56831e7d58ec2bd64a9003976
